:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-optical-sizing: auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #00ffcc;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 6;
  line-height: 1.1;
}

.container-start {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 100%;
  margin: 16px 0;
}

.margin-divider-small {
  margin-top: 50px;
}

.margin-divider-medium {
  margin-top: 80px;
}

.button-submit {
  background-color: #00ffcc;
  color: #2c3e50;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.base-container-chip {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.container-skeleton {
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-fab {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.img-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100%;
  object-fit: contain;
  z-index: 0;
  opacity: 0.08;
  pointer-events: none;
}
